{% extends 'base.html' %}
{% load static %}


{% block content %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3913.184593946854!2d75.83194621459363!3d11.24782729200265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65bbe50ea0b7d%3A0xc4e01eaa6234847e!2sHiLITE%20Business%20Park%2C%20Poovangal%2C%20Pantheeramkavu%2C%20Kerala%20673014!5e0!3m2!1sen!2sin!4v1643355043808!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



<main class="flexbox-col">

  <div class="form-wrapper">
    <form id="form" name="emailform" action="" method="post">
        {% csrf_token %}
      <h3 class="form-title">Get In Touch</h3>
      <div class="form-input-grid">
        <div>
         
          <div class="form-input-wrapper flexbox-left">
            <i class="uil uil-user"></i>
            <input class="form-input" id="name" name="name" type="text" placeholder="name" aria-label="" required>
          </div>
        </div>
        <div>
        <!-- <p class="form-text">Password*</p> -->
        <div class="form-input-wrapper flexbox-left">
          <i class="uil uil-asterisk"></i>
          <input class="form-input" id="txt" name="subject" type="text" placeholder="subject" aria-label="" required>
        </div>
      </div>
    </div>
    <div class="form-input-max">
      <!-- <p class="form-text">Email*</p> -->
      <div class="form-input-wrapper flexbox-left">
        <i class="uil uil-at"></i>
        <input class="form-input" id="email" name="email" type="email" placeholder="Email" aria-label="" required>
      </div>
    </div>
    <div class="form-input-max">
      <!-- <p class="fo9lrm-text">Message* (Max 500)</p> -->
      <div id="textarea" class="form-input-wrapper flexbox-left-start">
        <i class="uil uil-comment-dots"></i>
        <textarea class="form-input" id="message" name="message" placeholder="Your message" maxlength="500" aria-label="" required></textarea>
      </div>
     </div>
     <div class="form-input-max flexbox-left">
      <div class="button-wrapper">
        <button id="form-button" type="submit" class="button btn-primary sendbtn"><i class="uil uil-envelope-heart"></i> Send<div class="btn-secondary"></div></button>
       </div>
     </div>
   </form>
  </div>



</main>




<!--contact section end-->

{% comment %} 
<div class="container">

    <div class="section-content pt-0">
        <div class="title-wrap" data-aos="fade-up">
            <h2 class="section-title text-center display-4">Where To Find Us?</h2>
        </div>
        <div class="row text-center mt-4">
            <div class="col-md-3" data-aos="fade-up">
                <i class="fa fa-location fs-40 py-4 d-block"></i>
                <h5>LOCATION</h5>
            <p>Hilite Business Park,
                    Near Hilite Mall,<br> Poovangal,
                    Kozhikode<br>Kochi, Thiruvananthapuram, Pondichery<br>Coimbatore,Chennai, Bengaluru<br>Dubai, Qatar, Oman<br></p>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
                <span class="lnr lnr-clock fs-40 py-4 d-block"></span>
                <h5>WORKING TIME</h5>
                <p class="text-muted">Monday to Sunday<br>24 x 7</p>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
                <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                <h5>CALL US</h5>
                <p class="text-muted">+91 9072919991 <br>+91 9745109190 </p>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
                <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                <h5>EMAIL</h5>
                <p class="text-muted">nmesmartech@gmail.com</p>
            </div>

        </div>
    </div>

</div> {% endcomment %}



<!-- Franchise  section start -->

<section class="service-sec"> 


  <div class="container service-co">
    <div class="row justify-content-center ">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h2 class="display-4 lh-1 mb-4">Our Locations </h2>

            </div>
        </div><!--end col-->
    </div><!--end row-->
  
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
              
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Calicut</h5>
                   <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/calicut.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
  
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Kochi</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="big-icon h1 text-custom">
                    <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                     <img class="loc-img"  src="{% static 'images/img/kochi.png' %}" alt="">
            </div>
            </div>
        </div><!--end col-->
        
        
        
         <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Trivandrum</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/trivandrum.png' %}">
                </div>
            </div>
        </div><!--end col-->
        
        
        
         <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Mangalore</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/mangalapuram.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        
        
        
         <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Bangalore</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/bangalore.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        
        
         <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Chennai</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/chennai.png' %}"alt="">
                </div>
            </div>
        </div><!--end col-->
        
        
         <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Pondicherry</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/pondichery.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Coimbatore</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/Coimbatore.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Tirunelveli</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/tirunnalveli.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Dubai</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/dubai.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Qatar</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/qatar1.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                
                <div class="content mt-4 location-title">
                    <h5 class="font-alt">Oman</h5>
                    <!-- <p class="text-muted mt-3 mb-0">N-me maintaining a dedicated team in Changaramkulam for the care and  service across Trissur.</p> -->
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="text-custom more"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!-- <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div> -->
                 <div class="big-icon h1 text-custom">
                        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                         <img class="loc-img"  src="{% static 'images/img/oman.png' %}" alt="">
                </div>
            </div>
        </div><!--end col-->
        
        
        
        
        

       
    </div><!--end row-->
  </div>
  
  
  
  
  </section>
  
  
  
  <!-- Franchise section end -->




            <!-- App badge section-->
            <section class="bg-gradient-primary-to-secondary"  id="download">
                <div class="container px-5" style="height: 200px;">
                  <h2 class="text-center text-white font-alt mb-4">Get the app now!</h2>
                  <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    <a class="me-lg-3 mb-4 mb-lg-0"
                      href="https://play.google.com/store/apps/details?id=com.smart.nme&showAllReviews=true" target="blang"> <img
                        class="app-badge" src="{% static 'images/img/google-play-badge.svg' %}" alt="..." /></a>
                    <a href="https://apps.apple.com/in/app/n-me/id1614150675" target="blang"><img class="app-badge"
                      src="{% static 'images/img/app-store-badge.svg' %}" alt="..." /></a>
                  </div>
                </div>
              </section>
      

{% endblock %}