{% extends "base.html" %}
{% load static %}

{% block title %}Services | N-Me App{% endblock %}

{% block meta_description %}
The Nme app (Near Me) is a comprehensive business and service
discovery platform that brings nearby businesses and services together in one
easy-to-access space. It helps users communicate directly with small and large
businesses, reducing delays and removing the need for middlemen. With multiple
categories designed to meet everyday needs, users can quickly locate reliable services
near me at any time. The Nme app is built to be simple, fast, and accessible for all
users and is available on Android, iOS, and web platforms. As Nme expands its reach
worldwide, it continues to support smarter choices by connecting users with trusted
businesses and services near me.

{% endblock %}

{% block meta_keywords %}
groceries shop near me,grocery store near me,groceries near me,online
grocery delivery near me,fast grocery delivery near me{% endblock %}

{% block content %}

<div
  class="max-md:w-[324px] md:max-w-[1400px] mx-auto relative mt-8 p-6 rounded-3xl 
         ring-4 ring-white/80 overflow-hidden
         h-[434px] md:min-h-[600px] bg-move-box"
  style="background: linear-gradient(135deg, #E4EEFF,#7D99FF);"
>

  <!-- SHIMMER (BACKGROUND ONLY) -->
  <div class="absolute inset-0 shimmer opacity-30 z-0 pointer-events-none"></div>

<nav class="flex justify-between items-center w-full relative">

  <!-- Logo -->
  <a href="{% url 'home' %}">
    <img src="{% static 'images/logo.png' %}" class="h-12" />
  </a>

  <div class="flex items-center gap-3">

    <!-- DESKTOP NAV -->
    <ul class="hidden md:flex gap-10 px-10 py-5 rounded-full
           bg-white/40 backdrop-blur-xl border border-white/60">

  <li class="transition duration-300 hover:filter hover:blur-sm">
    <a href="{% url 'home' %}" class="hover:text-blue-600">Home</a>
  </li>

  <li class="transition duration-300 hover:filter hover:blur-sm">
    <a href="{% url 'about' %}" class="hover:text-blue-600">About</a>
  </li>

  <li class="transition duration-300 hover:filter hover:blur-sm">
    <a href="{% url 'blogs' %}" class="hover:text-blue-600">Blogs</a>
  </li>

  <li class="transition duration-300 hover:filter hover:blur-sm">
    <a href="{% url 'faq' %}" class="hover:text-blue-600">FAQs</a>
  </li>

  <li class="transition duration-300 hover:filter hover:blur-sm">
    <a href="{% url 'services' %}" class="text-blue-600 font-semibold">Services</a>
  </li>

  <li class="transition duration-300 hover:filter hover:blur-sm">
    <a href="{% url 'contact' %}" class="hover:text-blue-600">Contact</a>
  </li>

</ul>


    <!-- MOBILE BUTTON -->
    <button id="menuBtn"
      class="md:hidden w-12 h-12 rounded-xl bg-[#3C49FF]
      flex flex-col items-center justify-center">
      <span class="w-6 h-0.5 bg-white mb-1.5"></span>
      <span class="w-6 h-0.5 bg-white mb-1.5"></span>
      <span class="w-6 h-0.5 bg-white"></span>
    </button>

    <!-- CHAT ICON (DESKTOP ONLY) -->
     <a href="{% url 'message' %}">
    <div class="hidden md:flex h-12 w-12 rounded-full
      bg-gradient-to-br from-blue-500 to-blue-700
      shadow-md items-center justify-center">
      <img src="{% static 'images/icon1.png' %}" class="w-6" />
    </div>
  </a>
<!-- MOBILE MENU -->
<div id="mobileMenu" class="absolute top-[70px] left-1/2 -translate-x-1/2
           w-[335px] h-[294px]
           md:hidden
           backdrop-blur-xl bg-white/30
           rounded-2xl shadow-2xl
           border border-white/60
           origin-top scale-y-0 opacity-0
           pointer-events-none
           transition-all duration-300 z-50 py-2">

  <a href="{% url 'home' %}" class="block font-manrope text-[16px] px-6 py-3 hover:text-blue-600">Home</a>
  <a href="{% url 'about' %}" class="block font-manrope text-[16px] px-6 py-3 hover:text-blue-600">About</a>
  <a href="{% url 'blogs' %}" class="block font-manrope text-[16px] px-6 py-3 hover:text-blue-600">Blogs</a>
  <a href="{% url 'faq' %}" class="block font-manrope text-[16px] px-6 py-3 hover:text-blue-600">FAQs</a>
  <a href="{% url 'services' %}" class="block font-manrope text-[16px] px-6 py-3 text-blue-600">Services</a>
  <a href="{% url 'contact' %}" class="block font-manrope text-[16px] px-6 py-3 hover:text-blue-600">Contact</a>

</div>
  </div>
</nav>


  <!-- ================= HERO TEXT ================= -->
  <div class="relative z-20 flex flex-col items-center justify-center text-center mt-32">

   <h2 id="animatedServices"
    class="text-[32px] md:text-[48px] font-semibold text-[#1A1A1A] max-md:max-w-[14rem]">
  All Services <span class="text-blue-600">Near You</span>
</h2>

<p id="animatedServicesPara"
   class="mt-4 max-w-sm text-[16px] md:text-[18px] font-medium text-[#1A1A1A] opacity-0 transition-opacity duration-700">
  Discover verified providers for work, home, and everyday life with ease
</p>
<script>
function animateText(containerId, paragraphId, speed = 60) {
  const heading = document.getElementById(containerId);
  const paragraph = document.getElementById(paragraphId);
  if (!heading) return;

  const originalHTML = heading.innerHTML;
  const temp = document.createElement("div");
  temp.innerHTML = originalHTML;
  heading.innerHTML = "";

  let delay = 0;

  temp.childNodes.forEach(node => {

    if (node.nodeName === "BR") {
      heading.appendChild(document.createElement("br"));
      return;
    }

    if (node.nodeType === Node.TEXT_NODE) {
      [...node.textContent].forEach(char => {
        createLetter(char);
      });
    } else {
      const text = node.innerText;
      const className = node.className;
      [...text].forEach(char => {
        createLetter(char, className);
      });
    }
  });

  function createLetter(char, extraClass = "") {
    const span = document.createElement("span");
    span.className = `letter ${extraClass}`;
    span.innerHTML = char === " " ? "&nbsp;" : char;
    span.style.animationDelay = `${delay}ms`;
    heading.appendChild(span);
    delay += speed;
  }

  if (paragraph) {
    setTimeout(() => {
      paragraph.classList.remove("opacity-0");
    }, delay + 300);
  }
}

document.addEventListener("DOMContentLoaded", () => {
  animateText("animatedServices", "animatedServicesPara", 55);
});
</script>
<style>
  .letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-6px);
  animation: letterShow 0.25s ease forwards;
}

@keyframes letterShow {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

</style>

  </div>

</div>




<section class="w-full mt-10 overflow-hidden relative">
  <div class="w-full mx-auto px-6">

    <!-- SCROLL CONTAINER -->
    <div class="scroll-track">
      
      <!-- CARD TEMPLATE (repeat multiple times) -->
      <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service1.png" class="w-[76.38px] h-[76.38px] md:w-[104px] md:h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
          Service Providers
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
          Trusted local technicians for all your daily repair and maintenance needs.
        </p>
      </div>

       <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service2.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Health & Medicals        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Get quick access to doctors, clinics, and essential medical support anytime.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service3.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Events        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Plan birthdays, weddings, and celebrations with expert event specialists.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service4.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Real Estate        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Find the right property, agents, rentals, and housing solutions instantly.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service5.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Shops        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Discover nearby stores and shop everything you need in your local area.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service6.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
         Automobiles
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Car and bike service, repair, wash, and roadside assistance in one tap.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service7.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
          Education
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Connect with schools, tutors, and training centers for learning support.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service8.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
         Beauty & Skincare
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Get beauty experts and salon services delivered right to your doorstep.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service9.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
          Food & Beverages
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Discover restaurants, home cooks, and local food services around you.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service10.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Sports & Fitness        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Connect with gyms, trainers, and fitness centers to stay active and healthy.        </p>
      </div>

      <!-- You can add more cards as needed -->

       <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service1.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
          Service Providers
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
          Trusted local technicians for all your daily repair and maintenance needs.
        </p>
      </div>

       <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service2.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Health & Medicals        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Get quick access to doctors, clinics, and essential medical support anytime.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service3.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Events        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Plan birthdays, weddings, and celebrations with expert event specialists.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service4.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Real Estate        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Find the right property, agents, rentals, and housing solutions instantly.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service5.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Shops        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Discover nearby stores and shop everything you need in your local area.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service6.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
         Automobiles
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Car and bike service, repair, wash, and roadside assistance in one tap.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service7.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
          Education
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Connect with schools, tutors, and training centers for learning support.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service7.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
         Beauty & Skincare
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Get beauty experts and salon services delivered right to your doorstep.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service8.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
          Food & Beverages
        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Discover restaurants, home cooks, and local food services around you.        </p>
      </div>

        <div
        class="flex-shrink-0 w-[251.18px] h-[253.38px] md:w-[342px] md:h-[345px]
               rounded-[40px] border border-white
               bg-gradient-to-tl from-[#D2DAFF] to-white
               flex flex-col items-center justify-center text-center px-6"
      >
        <div class="flex items-center justify-center mb-6">
          <img src="./static/images/service10.png" class="w-[76.38px] h-[76.38px] w-[104px] h-[104px]" />
        </div>
        <h2 class="text-[17.63px] md:text-[24px] font-semibold text-[#1A1A1A] mb-3">
Sports & Fitness        </h2>
        <p class="text-[11.75px] md:text-[16px] font-medium text-[#1A1A1A] leading-relaxed">
Connect with gyms, trainers, and fitness centers to stay active and healthy.        </p>
      </div>

    </div>
  </div>
</section>


<section class="w-full py-20 ">
  <div class="max-w-[1364px] mx-auto px-6">

    <!-- HEADING -->
    <div class="text-center mb-14">
      <h2 class=" max-md:font-poppins text-[20px] max-md:font-medium md:text-[36px] font-semibold text-[#1A1A1A]">
        Our Services
      </h2>
      <p class="mt-2 text-[14px] md:text-[16px] max-md:w-[251px] max-md:mx-auto font-medium text-[#1A1A1A]">
        Discover verified providers for work, home, and life
      </p>
    </div>

    <!-- CARDS -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8  md:px-0">


<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s1.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
      Home & Personal Services
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
      Reliable home care and personal assistance for your everyday needs.
    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s2.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
    Events, Arts & Entertainment
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
Discover services that bring creativity, celebration, and entertainment to life.    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s3.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
      Real Estate & Construction
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
Trusted property, construction and building services in one place.    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s4.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
     Shops, Retail & Marketplace
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
Discover local stores and shop everything you need instantly.    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s5.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
      Business & Office Services
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
      Trusted solutions for your business, office and professional needs.
    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s6.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
      Travel, Transport & Tourism
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
      Hassle-free travel, transport, and tourism support for every journey.
    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s7.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
     Food & Beverages
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
      Delicious food, catering and beverage services from trusted providers.
    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s8.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
     Agri & Community Services
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
      Essential public, utility and local support services for everyday needs.
    </p>
  </div>

</div>

<!-- CARD -->
<div class="group relative w-[309px] h-[337.88px] md:w-[428px] md:h-[468px] rounded-[24px] overflow-hidden border-[5px] border-white shadow-sm">

  <!-- BASE IMAGE -->
  <img
    src="./static/images/s9.png"
    alt=""
    class="absolute inset-0 md:w-[460px] md:h-[500px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <!-- TRUE BOTTOM-ONLY BLUR OVERLAY -->
  <div class="absolute inset-0 z-[1] rounded-[18px]
              backdrop-blur-[22px] bg-white/25
              transition-[mask-image,-webkit-mask-image,opacity] duration-[20000ms] ease-in-out
              [mask-image:linear-gradient(to_top,black_25%,transparent_70%)]
              [-webkit-mask-image:linear-gradient(to_top,black_35%,transparent_70%)]
              group-hover:[mask-image:linear-gradient(to_top,black_100%,transparent_0%)]
              group-hover:[-webkit-mask-image:linear-gradient(to_top,black_100%,transparent_0%)]">
  </div>

  <!-- BLACK TRANSPARENT OVERLAY FOR TEXT ON HOVER -->
  <div class="absolute inset-0 z-10 bg-black/0 transition-all duration-1000 ease-in-out
              group-hover:bg-black/40 rounded-[18px]">
  </div>

  <!-- CONTENT -->
  <div class="relative z-20 h-full flex flex-col justify-end px-6 py-6
              transition-all duration-1000 ease-in-out
              group-hover:-translate-y-4 group-hover:text-white">
    <h3 class="text-[17.33px] md:text-[24px] font-semibold mb-2">
     Health, Emergency & Freelance
    </h3>

    <p class="text-[14.44px] md:text-[20px] font-medium leading-relaxed">
Quick access to medical help, emergency support, and skilled freelancers.    </p>
  </div>

</div>

    </div>
  </div>
</section>






<section class="w-full flex justify-center max-md:pb-6 max-md:mt-2 md:py-28 px-4">
  <!-- SECTION CONTAINER -->
  <div class="flex flex-col lg:flex-row gap-10 items-center
         w-full max-w-[1320px]
         h-auto lg:h-[534px]">

    <div class="relative w-full max-w-[582px]
       h-[420px] md:h-[460px]
       rounded-[40px]
       bg-gradient-to-t from-[#A4C2FF] via-[#DDE8FF]/60 to-[#f3f4f6]/5
       flex justify-center
       overflow-visible
       border-fade
       shadow-[0_4px_5px_0_rgba(0,0,0,0.25)]">

      <!-- PHONE WRAPPER -->
      <div class="absolute bottom-[8px] md:bottom-0
             w-[307px] md:w-[447px]
             h-[302px] md:h-[537px]">

        <!-- SCREEN -->
        <div class="absolute
               top-[14px] md:top-[25px]
               left-[40px] md:left-[18px]
               w-[230px] md:w-[407px]
               h-[289px] md:h-[507px]
               overflow-hidden
               rounded-t-[30px]
               z-10">

          <!-- Video -->
          <video autoplay muted loop playsinline class="w-full h-full object-cover object-top">
            <source src="{% static 'video/nmevd.mp4' %}" type="video/mp4" />
          </video>

          <div class="absolute bottom-0 left-0 w-full h-[30px] pointer-events-none z-20"
     style="background: radial-gradient(
       ellipse 120% 200% at 50% 120%,
       rgba(21, 80, 198, 0.5) 0%,
       rgba(21, 80, 198, 0.35) 25%,
       rgba(21, 80, 198, 0.15) 45%,
       transparent 65%
     );">
</div>


        </div>

        <!-- PHONE FRAME -->
        <img src="{% static 'images/phoneframe.png' %}" alt="Phone Frame"
          class="absolute inset-0 w-full h-full object-contain z-30 pointer-events-none" />
      </div>
</div>


    <!-- RIGHT CARD -->
    <div class="relative w-full max-w-[718px]
           h-auto lg:h-[461px]
           rounded-[40px]
           bg-gradient-to-t from-[#A4C2FF] via-[#DDE8FF]/60 to-[#f3f4f6]/5
           shadow-[0_4px_5px_0_rgba(0,0,0,0.25)]
           flex flex-col items-center justify-center
           text-center px-6 md:px-16 py-12 border-fade">

      <h2 class="text-[26px] md:text-[36px] font-semibold text-[#1a1a1a]">
        Get the App Now!
      </h2>

      <p class="mt-4 text-[14px] md:text-[16px]
              font-medium text-[#1A1A1A]
              max-w-[480px]">
        Join thousands of users who simplified their daily life
      </p>

      <div class="mt-8 md:mt-10 flex flex-col md:flex-row gap-4 md:gap-6">
        <img src="{% static 'images/app.png' %}" class="h-[48px] md:h-[56px]" />
        <img src="{% static 'images/playstore.png' %}" class="h-[48px] md:h-[56px]" />
      </div>
    </div>

  </div>
</section>






















{% endblock %}